<div class="container">
  <div class="card"
       style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">current breakpoint: <h1>{{breakpointString}} - value: {{breakpoint}} </h1>
      </h5>
      <p class="card-text"> Have good day ! <br><br>
        <a href="https://github.com/darekf77/bs4-breakpoint">https://github.com/darekf77/bs4-breakpoint</a>
      </p>
      <a href="https://www.paypal.me/dariuszfilipiak"
         class="btn btn-primary">buy hot coffee for darekf77 ?</a>
    </div>
  </div>

  <bs4-breakpoint (changed)="resize($event)"></bs4-breakpoint>

</div>
